<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pxs3c">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />

    <uses-feature android:name="android.hardware.vulkan.level" android:required="true" />
    <uses-feature android:name="android.hardware.vulkan.compute" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x400000" android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="pxs3c"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.pxs3c.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pxs3c.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name="com.pxs3c.AdvancedSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name="com.pxs3c.FilePickerActivity"
            android:exported="false" />
    </application>
</manifest>
